body{
    background-color: lightseagreen;
}
.clr{
    background-color: chartreuse;
    font-family: "Comic Sans MS", "Comic Sans", cursive;;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}